[MASTER]
# Use single thread to avoid astroid crash on Python 3.14
jobs=1
load-plugins=

[MESSAGES CONTROL]
# Ignore these warnings that are pre-existing across the codebase
disable=
    line-too-long,
    too-many-branches,
    too-many-return-statements,
    unused-argument,
    unused-variable,
    raise-missing-from,
    unused-import,
    global-statement,
    broad-exception-caught,
    too-few-public-methods,
    not-callable,
    implicit-str-concat,
    no-name-in-module,
    astroid-error,

[FORMAT]
# Match black's line length
max-line-length=79
